<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="default" providerName="System.Data.SqlClient" connectionString="Server=WIN764RP;Database=hackathon;User Id=sa;Password=Dagr1eve;"/>
  </connectionStrings>
</configuration>